body {
  text-align: center;
  background: #a3dcff;
}
p {
  font-family: verdana;
  font-size: 12px; 
}
h1 {
  font-family: helvetica;
}
#MainHeader{
  text-align: left;
  color: white;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  padding: 20px 16px;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: right;
  text-decoration: none;
  padding: 0px 16px;
}
li a:hover {
  background-color: #111;
}
#footer {
  color: #99ff99;
  font-size: 14px;
  background-color: #331933;
}
